flows/flows.json
[
    {
        "id": "0d15d62507971bf7",
        "type": "tab",
        "label": "Heating Systems",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "53eb8abdbb7770f1",
        "type": "mqtt in",
        "z": "0d15d62507971bf7",
        "name": "",
        "topic": "sensors/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "0c86641747d1233f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 260,
        "wires": [
            [
                "bcf0060b2bf8625c"
            ]
        ]
    },
    {
        "id": "4144a69265017f51",
        "type": "debug",
        "z": "0d15d62507971bf7",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 300,
        "wires": []
    },
    {
        "id": "bcf0060b2bf8625c",
        "type": "json",
        "z": "0d15d62507971bf7",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 470,
        "y": 260,
        "wires": [
            [
                "4144a69265017f51",
                "956f3e0b5e54edac"
            ]
        ]
    },
    {
        "id": "cd34aed073d395bf",
        "type": "mqtt in",
        "z": "0d15d62507971bf7",
        "name": "",
        "topic": "appliances/heating",
        "qos": "2",
        "datatype": "auto",
        "broker": "0c86641747d1233f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 440,
        "wires": [
            [
                "ef2494857d396376"
            ]
        ]
    },
    {
        "id": "ef2494857d396376",
        "type": "json",
        "z": "0d15d62507971bf7",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 470,
        "y": 440,
        "wires": [
            [
                "3e7cb8008d7a721c",
                "42971567efb53b20"
            ]
        ]
    },
    {
        "id": "3e7cb8008d7a721c",
        "type": "debug",
        "z": "0d15d62507971bf7",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 480,
        "wires": []
    },
    {
        "id": "3a31680e12776bf5",
        "type": "mqtt out",
        "z": "0d15d62507971bf7",
        "name": "",
        "topic": "appliances/heating",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0c86641747d1233f",
        "x": 1390,
        "y": 140,
        "wires": []
    },
    {
        "id": "956f3e0b5e54edac",
        "type": "function",
        "z": "0d15d62507971bf7",
        "name": "Determine temp conditions",
        "func": "const id = msg.payload.id.replace(\"temperature\", \"heating-system\");\n\nconst temperature = msg.payload.value;\n\nlet payload = {};\n\nif (msg.payload.value < 20) {\n    payload = {\n        id: id,\n        act: true,\n        type: \"mode\",\n        value: \"heat\",\n        temp: temperature\n    } \n} else if (msg.payload.value > 28) {\n    payload = {\n        id: id,\n        act: true,\n        type: \"mode\",\n        value: \"cool\",\n        temp: temperature\n    }\n} else {\n    payload = null;\n}\n\n\nconst message = {\n    payload: payload\n}\n\nreturn message;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 220,
        "wires": [
            [
                "f21e9b50589b4e1a"
            ]
        ]
    },
    {
        "id": "f21e9b50589b4e1a",
        "type": "switch",
        "z": "0d15d62507971bf7",
        "name": "Is it too hot/cold?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1030,
        "y": 220,
        "wires": [
            [
                "3a31680e12776bf5"
            ],
            [
                "63d6520cb52898e9"
            ]
        ]
    },
    {
        "id": "63d6520cb52898e9",
        "type": "debug",
        "z": "0d15d62507971bf7",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1370,
        "y": 280,
        "wires": []
    },
    {
        "id": "42971567efb53b20",
        "type": "function",
        "z": "0d15d62507971bf7",
        "name": "Determine if temperature correction is needed",
        "func": "const id = msg.payload.id.replace(\"heating-system\", \"temperature\");\n\nlet temperature = msg.payload.temp;\n\nlet payload = {};\n\nif (msg.payload.temp < 20) {\n    payload = {\n        id: id,\n        act: true,\n        type: \"mode\",\n        value: \"heat\",\n        temp: temperature\n    } \n} else if (msg.payload.value > 28) {\n    payload = {\n        id: id,\n        act: true,\n        type: \"mode\",\n        value: \"cool\",\n        temp: temperature\n    }\n} else {\n    payload = null;\n}\n\n\nconst message = {\n    payload: payload\n}\n\nreturn message;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 400,
        "wires": [
            [
                "f41664cc833c3141"
            ]
        ]
    },
    {
        "id": "f41664cc833c3141",
        "type": "switch",
        "z": "0d15d62507971bf7",
        "name": "Hot/Cold?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1120,
        "y": 400,
        "wires": [
            [
                "b04747b39f5916b2"
            ],
            [
                "6e3c389e533f7e66"
            ]
        ]
    },
    {
        "id": "b04747b39f5916b2",
        "type": "mqtt out",
        "z": "0d15d62507971bf7",
        "name": "",
        "topic": "sensors/temperature",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0c86641747d1233f",
        "x": 1400,
        "y": 340,
        "wires": []
    },
    {
        "id": "6e3c389e533f7e66",
        "type": "debug",
        "z": "0d15d62507971bf7",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1370,
        "y": 460,
        "wires": []
    },
    {
        "id": "0c86641747d1233f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    }
]