flows/flows.json
[
    {
        "id": "38915ce0cb416152",
        "type": "tab",
        "label": "Alarm System",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0d15d62507971bf7",
        "type": "tab",
        "label": "Heating Systems",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "67834fece6ef099f",
        "type": "tab",
        "label": "Lighting System",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "27e79a2e2f0f06a1",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1800",
        "clientid": "node-red",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "0c86641747d1233f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "1c89379dba1bc891",
        "type": "mqtt in",
        "z": "38915ce0cb416152",
        "name": "",
        "topic": "sensors/motion",
        "qos": "2",
        "datatype": "auto",
        "broker": "0c86641747d1233f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 100,
        "wires": [
            [
                "3f8e84f353327595"
            ]
        ]
    },
    {
        "id": "3f8e84f353327595",
        "type": "json",
        "z": "38915ce0cb416152",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 310,
        "y": 100,
        "wires": [
            [
                "9c742b72445c58c2"
            ]
        ]
    },
    {
        "id": "cb35b6ee37a067b6",
        "type": "mqtt in",
        "z": "38915ce0cb416152",
        "name": "",
        "topic": "appliances/alarm",
        "qos": "2",
        "datatype": "auto",
        "broker": "0c86641747d1233f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 200,
        "wires": [
            [
                "d4c045a7ae5672f3"
            ]
        ]
    },
    {
        "id": "d4c045a7ae5672f3",
        "type": "json",
        "z": "38915ce0cb416152",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 340,
        "y": 200,
        "wires": [
            [
                "63bb7d779482fd6b"
            ]
        ]
    },
    {
        "id": "63bb7d779482fd6b",
        "type": "debug",
        "z": "38915ce0cb416152",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 200,
        "wires": []
    },
    {
        "id": "23e80f69b041be37",
        "type": "inject",
        "z": "38915ce0cb416152",
        "name": "set alarm on",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\":\"alarm-garage-dev\",\"name\":\"Alarm System Garage Appliance\",\"source\":\"device\",\"running\":true,\"act\":true,\"value\":\"Someone's in da house!!!\"}",
        "payloadType": "json",
        "x": 160,
        "y": 320,
        "wires": [
            [
                "622764a1e53edc66"
            ]
        ]
    },
    {
        "id": "5ca417124c4d491d",
        "type": "inject",
        "z": "38915ce0cb416152",
        "name": "set alarm off",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\":\"alarm-garage-dev\",\"name\":\"Alarm System Garage Appliance\",\"source\":\"device\",\"running\":false,\"act\":true,\"value\":\"Don't know anything!!!\"}",
        "payloadType": "json",
        "x": 150,
        "y": 380,
        "wires": [
            [
                "622764a1e53edc66"
            ]
        ]
    },
    {
        "id": "622764a1e53edc66",
        "type": "mqtt out",
        "z": "38915ce0cb416152",
        "name": "",
        "topic": "appliances/alarm",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0c86641747d1233f",
        "x": 400,
        "y": 360,
        "wires": []
    },
    {
        "id": "cfefe63cc1d4035c",
        "type": "mqtt out",
        "z": "38915ce0cb416152",
        "name": "",
        "topic": "appliances/alarm",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0c86641747d1233f",
        "x": 670,
        "y": 100,
        "wires": []
    },
    {
        "id": "9c742b72445c58c2",
        "type": "function",
        "z": "38915ce0cb416152",
        "name": "",
        "func": "msg.payload = {\n      id: 'alarm-garage-dev',\n      name: 'Motion Garage Sensor',\n      type: 'motion',\n      source: 'device',\n      value: msg.payload.value,\n      act: true\n      \n    }\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 100,
        "wires": [
            [
                "cfefe63cc1d4035c"
            ]
        ]
    },
    {
        "id": "53eb8abdbb7770f1",
        "type": "mqtt in",
        "z": "0d15d62507971bf7",
        "name": "",
        "topic": "sensors/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "0c86641747d1233f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 260,
        "wires": [
            [
                "bcf0060b2bf8625c"
            ]
        ]
    },
    {
        "id": "4144a69265017f51",
        "type": "debug",
        "z": "0d15d62507971bf7",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 300,
        "wires": []
    },
    {
        "id": "bcf0060b2bf8625c",
        "type": "json",
        "z": "0d15d62507971bf7",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 470,
        "y": 260,
        "wires": [
            [
                "4144a69265017f51",
                "956f3e0b5e54edac"
            ]
        ]
    },
    {
        "id": "cd34aed073d395bf",
        "type": "mqtt in",
        "z": "0d15d62507971bf7",
        "name": "",
        "topic": "appliances/heating",
        "qos": "2",
        "datatype": "auto",
        "broker": "0c86641747d1233f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 440,
        "wires": [
            [
                "ef2494857d396376"
            ]
        ]
    },
    {
        "id": "ef2494857d396376",
        "type": "json",
        "z": "0d15d62507971bf7",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 470,
        "y": 440,
        "wires": [
            [
                "3e7cb8008d7a721c",
                "42971567efb53b20"
            ]
        ]
    },
    {
        "id": "3e7cb8008d7a721c",
        "type": "debug",
        "z": "0d15d62507971bf7",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 480,
        "wires": []
    },
    {
        "id": "3a31680e12776bf5",
        "type": "mqtt out",
        "z": "0d15d62507971bf7",
        "name": "",
        "topic": "appliances/heating",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0c86641747d1233f",
        "x": 1390,
        "y": 140,
        "wires": []
    },
    {
        "id": "956f3e0b5e54edac",
        "type": "function",
        "z": "0d15d62507971bf7",
        "name": "Determine temp conditions",
        "func": "const id = msg.payload.id.replace(\"temperature\", \"heating-system\");\n\nconst temperature = msg.payload.value;\n\nlet payload = {};\n\nif (msg.payload.value < 20) {\n    payload = {\n        id: id,\n        act: true,\n        type: \"mode\",\n        value: \"heat\",\n        temp: temperature\n    } \n} else if (msg.payload.value > 28) {\n    payload = {\n        id: id,\n        act: true,\n        type: \"mode\",\n        value: \"cool\",\n        temp: temperature\n    }\n} else {\n    payload = null;\n}\n\n\nconst message = {\n    payload: payload\n}\n\nreturn message;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 220,
        "wires": [
            [
                "f21e9b50589b4e1a"
            ]
        ]
    },
    {
        "id": "f21e9b50589b4e1a",
        "type": "switch",
        "z": "0d15d62507971bf7",
        "name": "Is it too hot/cold?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1030,
        "y": 220,
        "wires": [
            [
                "3a31680e12776bf5"
            ],
            [
                "63d6520cb52898e9"
            ]
        ]
    },
    {
        "id": "63d6520cb52898e9",
        "type": "debug",
        "z": "0d15d62507971bf7",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1370,
        "y": 280,
        "wires": []
    },
    {
        "id": "42971567efb53b20",
        "type": "function",
        "z": "0d15d62507971bf7",
        "name": "Determine if temperature correction is needed",
        "func": "const id = msg.payload.id.replace(\"heating-system\", \"temperature\");\n\nlet temperature = msg.payload.temp;\n\nlet payload = {};\n\nif (msg.payload.temp < 20) {\n    payload = {\n        id: id,\n        act: true,\n        type: \"mode\",\n        value: \"heat\",\n        temp: temperature\n    } \n} else if (msg.payload.value > 28) {\n    payload = {\n        id: id,\n        act: true,\n        type: \"mode\",\n        value: \"cool\",\n        temp: temperature\n    }\n} else {\n    payload = null;\n}\n\n\nconst message = {\n    payload: payload\n}\n\nreturn message;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 400,
        "wires": [
            [
                "f41664cc833c3141"
            ]
        ]
    },
    {
        "id": "f41664cc833c3141",
        "type": "switch",
        "z": "0d15d62507971bf7",
        "name": "Hot/Cold?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1120,
        "y": 400,
        "wires": [
            [
                "b04747b39f5916b2"
            ],
            [
                "6e3c389e533f7e66"
            ]
        ]
    },
    {
        "id": "b04747b39f5916b2",
        "type": "mqtt out",
        "z": "0d15d62507971bf7",
        "name": "",
        "topic": "sensors/temperature",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0c86641747d1233f",
        "x": 1400,
        "y": 340,
        "wires": []
    },
    {
        "id": "6e3c389e533f7e66",
        "type": "debug",
        "z": "0d15d62507971bf7",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1370,
        "y": 460,
        "wires": []
    },
    {
        "id": "797dbfb3a5b04977",
        "type": "inject",
        "z": "67834fece6ef099f",
        "name": "light bedroom on",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\":\"light-bedroom-dev\",\"turned_on\":true,\"act\":true}",
        "payloadType": "json",
        "x": 190,
        "y": 120,
        "wires": [
            [
                "220c08073a9e7201"
            ]
        ]
    },
    {
        "id": "0b9b580b2c614ee7",
        "type": "inject",
        "z": "67834fece6ef099f",
        "name": "light bedroom off",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\":\"light-bedroom-dev\",\"turned_on\":false,\"act\":true}",
        "payloadType": "json",
        "x": 190,
        "y": 200,
        "wires": [
            [
                "220c08073a9e7201"
            ]
        ]
    },
    {
        "id": "220c08073a9e7201",
        "type": "mqtt out",
        "z": "67834fece6ef099f",
        "name": "",
        "topic": "appliances/light/bedroom",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0c86641747d1233f",
        "x": 530,
        "y": 160,
        "wires": []
    },
    {
        "id": "43965cb14e627d47",
        "type": "mqtt in",
        "z": "67834fece6ef099f",
        "name": "",
        "topic": "appliances/light/bedroom",
        "qos": "2",
        "datatype": "auto",
        "broker": "0c86641747d1233f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 300,
        "wires": [
            [
                "eecfcbb2f318e958"
            ]
        ]
    },
    {
        "id": "41c4fbbe104ae226",
        "type": "debug",
        "z": "67834fece6ef099f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 300,
        "wires": []
    },
    {
        "id": "eecfcbb2f318e958",
        "type": "json",
        "z": "67834fece6ef099f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 410,
        "y": 300,
        "wires": [
            [
                "41c4fbbe104ae226"
            ]
        ]
    },
    {
        "id": "add4e533a5626c5b",
        "type": "inject",
        "z": "67834fece6ef099f",
        "name": "light bathroom on",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\":\"light-bathroom-dev\",\"turned_on\":true,\"act\":true}",
        "payloadType": "json",
        "x": 180,
        "y": 400,
        "wires": [
            [
                "d6c9cbcabba32013"
            ]
        ]
    },
    {
        "id": "2df97225163c0897",
        "type": "inject",
        "z": "67834fece6ef099f",
        "name": "light bathroom off",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\":\"light-bathroom-dev\",\"turned_on\":false,\"act\":true}",
        "payloadType": "json",
        "x": 180,
        "y": 480,
        "wires": [
            [
                "d6c9cbcabba32013"
            ]
        ]
    },
    {
        "id": "d6c9cbcabba32013",
        "type": "mqtt out",
        "z": "67834fece6ef099f",
        "name": "",
        "topic": "appliances/light/bathroom",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0c86641747d1233f",
        "x": 520,
        "y": 440,
        "wires": []
    },
    {
        "id": "8874535d202abaa2",
        "type": "mqtt in",
        "z": "67834fece6ef099f",
        "name": "",
        "topic": "appliances/light/bathroom",
        "qos": "2",
        "datatype": "auto",
        "broker": "0c86641747d1233f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 580,
        "wires": [
            [
                "9e73e598d88767da"
            ]
        ]
    },
    {
        "id": "f169d7e2d2d8f617",
        "type": "debug",
        "z": "67834fece6ef099f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 580,
        "wires": []
    },
    {
        "id": "9e73e598d88767da",
        "type": "json",
        "z": "67834fece6ef099f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 400,
        "y": 580,
        "wires": [
            [
                "f169d7e2d2d8f617"
            ]
        ]
    },
    {
        "id": "1436e2b0d464b091",
        "type": "inject",
        "z": "67834fece6ef099f",
        "name": "light kitchen on",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\":\"light-kitchen-dev\",\"turned_on\":true,\"act\":true}",
        "payloadType": "json",
        "x": 200,
        "y": 700,
        "wires": [
            [
                "f222478c49198024"
            ]
        ]
    },
    {
        "id": "7778a99715bf03d6",
        "type": "inject",
        "z": "67834fece6ef099f",
        "name": "light kitchen off",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\":\"light-kitchen-dev\",\"turned_on\":false,\"act\":true}",
        "payloadType": "json",
        "x": 200,
        "y": 780,
        "wires": [
            [
                "f222478c49198024"
            ]
        ]
    },
    {
        "id": "f222478c49198024",
        "type": "mqtt out",
        "z": "67834fece6ef099f",
        "name": "",
        "topic": "appliances/light/kitchen",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0c86641747d1233f",
        "x": 540,
        "y": 740,
        "wires": []
    },
    {
        "id": "d3b91ec7ab700b78",
        "type": "mqtt in",
        "z": "67834fece6ef099f",
        "name": "",
        "topic": "appliances/light/kitchen",
        "qos": "2",
        "datatype": "auto",
        "broker": "0c86641747d1233f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 880,
        "wires": [
            [
                "5978956ffe8b198b"
            ]
        ]
    },
    {
        "id": "f3fdeb694eebce27",
        "type": "debug",
        "z": "67834fece6ef099f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 880,
        "wires": []
    },
    {
        "id": "5978956ffe8b198b",
        "type": "json",
        "z": "67834fece6ef099f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 420,
        "y": 880,
        "wires": [
            [
                "f3fdeb694eebce27"
            ]
        ]
    }
]